.app {
  margin-top: 10vh;
  width: 100vw;
  overflow: auto;
  position: relative;
  background-color: #f5f5f5;

  & .content {
    padding-left: 15vw;
    padding-right: 15vw;

    & .cardsSection {
      display: grid;
      width: 100%;
      grid-row: 1;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
    }

    & .statesListSection {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
